{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-5">
              <img src="{{ current_user.avatar(384) }}">
            </div>
            <div class="col-md-7">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <a class="btn btn-info" href="http://127.0.0.1:5000/ongoing_advisee_connections" role="button">ONGOING ADVISEES</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-info" href="http://127.0.0.1:5000/ongoing_advisee_connections" role="button">ADVISEE REQUESTS</a>
                        </div>
                    </div>
                </div>
                    <div class="row">
                        <h3><strong>Name: </strong>{{ advisor.username }}</h3>
                        <h3><strong>Preferred pronouns: </strong>{{ advisor.pronouns }}</h3>
                        <h3><strong>Major(s): </strong>{{ advisor.major }}</h3>
                        <h3><strong>Minor(s): </strong>{{ advisor.minor }}</h3>
                        <h3><strong>Student organization: </strong>{{ advisor.student_orgs }}</h3>
                        <h3><strong>Interest(s): </strong>{{ advisor.interests }}</h3>
                        <h3><strong>Preferred contact method: </strong>{{ advisor.preferred_contact_method }}</h3>
                    </div>
            </div>
        </div>
    </div>

{% endblock %}