{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-5">
                <img src="{{ current_user.avatar(384) }}" class="img-fluid">
            </div>
            <div class="col-md-7">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <a class="btn btn-info btn-block" href="{{ url_for('ongoing_advisee_connections') }}" role="button">ONGOING ADVISEES</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <p><b>Username</b>: @{{ advisor.username }}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p style="font-weight: bold;">Preferred pronouns: {{ advisor.pronouns }}</p>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p style="font-weight: bold;">Major(s):</p>
                            <ul>
                              {% for major in advisor.m2u %}
                                <li>{{ major.major.name }}</li>
                              {% endfor %}
                            </ul>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p style="font-weight: bold;">Student Orgs:</p>
                            <ul>
                              {% for org in advisor.o2u %}
                                <li>{{ org.org.name }}</li>
                              {% endfor %}
                            </ul>
                    </div>
                    <div class="col-md-6 mb-3">
                        <p style="font-weight: bold;">Interests:</p>
                            <ul>
                              {% for interest in advisor.i2u %}
                                <li>{{ interest.interest.name }}</li>
                              {% endfor %}
                            </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
