{% extends "base.html" %}

{% block app_content %}
    <br><h1>{{ title }}</h1><br>
      {% if not no_advisee %}
    <div class="container">
      <div class="row row-cols-1 row-cols-md-3 gap-3"> <!-- Use row-cols-md-3 for 3 columns and gap-3 for a 16px gap -->
        {% for user in advisee_list %}
          <div class="col mb-4">
            <div class="card" style="width: 16rem;">
              <img src="{{user.avatar(400)}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">{{ user.username }}</h5>
                <p class="card-text">Major: {{ user.m2u.first().major.name }}</p>
                <p class="card-text">Class Year: {{ user.class_year }}</p>
                <a href="#" class="btn btn-primary">Make connection</a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
    {% else %}
        <h3>Hi!</h3>
            <p>You currently have no advisees.
            Check back here to see who matches with you!</p><br>
            <a href="{{ url_for('index') }}" type="button" class="btn btn-primary btn-lg" >Back to Home!</a>
      {% endif %}

    <div id="myModal" class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ title }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <h4>Your Role as an Advisor:</h4>
            <ul>
              <li>To give close-to-home advice to students on classes, clubs, internships and other aspects of student life from a student’s perspective.</li>
              <li>To talk through registration (including social engagements, clubs and sports) to make sure their schedules are truly feasible for students, and that they ensure student wellbeing.</li>
              <li>To aid students in figuring out concentrations and particular sub-disciplines pertaining to their majors and potential life pathways.</li>
              <li>To connect students with other departments on campus to promote interdisciplinary and holistic growth.</li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
</div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
      $(document).ready(function () {
        $('#myModal').modal('show');
      });
    </script>

    <script>
      $(document).ready(function () {
        $('.card').hover(
          function () {
            $(this).css('background-color', '#FFB6C1');
          },
          function () {
            $(this).css('background-color', '');
          }
        );
      });
    </script>

{% endblock %}
