{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Alice Apple</h4>
                        <p class="card-text">Computer Science</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Bobby Banana</h4>
                        <p class="card-text">Television Radio</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Candace Cantaloupe</h4>
                        <p class="card-text">Physical Therapy</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title">Being a good advisor</h4>
                        <p class="card-text">Some example text.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Dan Date</h4>
                        <p class="card-text">Sociology</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Lisa Johnson</h4>
                        <p class="card-text">Business Administration</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width:400px">
                    <img class="card-img-top" src="img_avatar1.png" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">Fran Fig</h4>
                        <p class="card-text">Musical Theatre</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-danger">REQUEST PAGE</button>
            </div>
        </div>
    </div>

{% endblock %}